* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.slider {
    width: 1024px;
    height: 512px;
    position: relative;
    background: lightgray;
}